@model SGCarreras.Models.Corredor

@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<h4>Corredor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Message != null)
            {
                <div class="form-group" style="color: green; ">@ViewBag.Message</div> 
            }


            <div class="form-group">
                <label asp-for="nombreCompleto" class="control-label"></label>
                <input asp-for="nombreCompleto" class="form-control" />
                <span asp-validation-for="nombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedula" class="control-label"></label>
                <input asp-for="cedula" class="form-control" />
                <span asp-validation-for="cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contra" class="control-label"></label>
                <input asp-for="contra" class="form-control" />
                <span asp-validation-for="contra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label"></label>
                <input asp-for="mail" class="form-control" />
                <span asp-validation-for="mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    Already have an account? <a asp-action="LogIn">Go Tor Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
