@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

@if (Context.User?.Identity?.Name != null)
{
    <form asp-controller="Corredors" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                Hola @Context.User.Identity.Name!
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Cerrar Sesión</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (!(currentController == "Corredors" && currentAction == "Registrar"))
        {
            <li><a class="nav-link text-dark" asp-controller="Corredors" asp-action="Registrar">Registrarse</a></li>
        }
        @if (!(currentController == "Corredors" && currentAction == "LogIn"))
        {
            <li><a class="nav-link text-dark" asp-controller="Corredors" asp-action="LogIn">Iniciar Sesión</a></li>
        }
    </ul>
}
