@model SGCarreras.Models.PuntoDeControl

<div class="punto-control-item">
    <input type="hidden" asp-for="id" />

    <div class="form-group">
        <label asp-for="Distancia" class="control-label"></label>
        <input asp-for="Distancia" class="form-control" />
        <span asp-validation-for="Distancia" class="text-danger"></span>
    </div>

    <button type="button" class="btn btn-danger btn-sm eliminar-punto">Eliminar</button>
</div>