@page
@using SGCarreras.Views.Corredor
@model SGCarreras.Views.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Corredor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Corredor.sexo" class="control-label"></label>
                <select asp-for="Corredor.sexo" class="form-control"></select>
                <span asp-validation-for="Corredor.sexo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Corredor.id" />
            <div class="form-group">
                <label asp-for="Corredor.nombreCompleto" class="control-label"></label>
                <input asp-for="Corredor.nombreCompleto" class="form-control" />
                <span asp-validation-for="Corredor.nombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corredor.cedula" class="control-label"></label>
                <input asp-for="Corredor.cedula" class="form-control" />
                <span asp-validation-for="Corredor.cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
