@model SGCarreras.Models.ViewModels.Corredor2

@{
    ViewData["Title"] = "BuscarCorredorCorriendoce";
}

<h1>BuscarCorredorCorriendoce</h1>

<h4>Corredor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BuscarCorredorCorriendoce">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary w-100">Busacr</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

