@model SGCarreras.Models.Carrera

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Carrera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.EstadoList">
                    <option value="">-- Seleccione --</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div id="puntos-control-container">
                <h3>Puntos de Control</h3>
                @Html.EditorFor(model => model.PuntosDeControl)
            </div>

            <button type="button" id="agregar-punto" class="btn btn-secondary">Agregar Punto de Control</button>
            <div class="form-group">
                <label asp-for="KmTotales" class="control-label"></label>
                <input asp-for="KmTotales" class="form-control" />
                <span asp-validation-for="KmTotales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $("#agregar-punto").click(function () {

            var newIndex = Date.now();

            var nuevoPuntoHtml = `
                <div class="punto-control-item border p-2 my-2">
                    <input type="hidden" name="PuntosDeControl.Index" value="${newIndex}" />
                    <input type="hidden" name="PuntosDeControl[${newIndex}].id" value="0" />

                    <label for="PuntosDeControl_${newIndex}__distancia">Distancia</label>
                    <input type="number" name="PuntosDeControl[${newIndex}].distancia" class="form-control" />
                    <button type="button" class="btn btn-danger btn-sm eliminar-punto">Eliminar</button>
                </div>
            `;

            $("#puntos-control-container").append(nuevoPuntoHtml);
        });

        $(document).on('click', '.eliminar-punto', function () {
            $(this).closest('.punto-control-item').remove();
        });
    </script>
}