@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a class="btn btn-primary" asp-controller="Corredors" asp-action="Index">
    Corredoor momento bro
</a>

<a class="btn btn-primary" asp-controller="Carreras" asp-action="Index">
    Carreras
</a>

<a class="btn btn-primary" asp-controller="Carreras" asp-action="ListadoActivas">
    Carreras Activas
</a>

<a class="btn btn-primary" asp-controller="Carreras" asp-action="ListadoEnEspera">
    Carreras En Espera
</a>

<a class="btn btn-primary" asp-controller="Carreras" asp-action="ListadoFinalizadas">
    Carreras Finalizadas
</a>

